/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Teko";
    src: url("./assets/fonts/Teko-Regular.ttf");
}

@font-face {
    font-family: "Teko";
    src: url("./assets/fonts/Teko-Bold.ttf");
    font-weight: bold;
}

.teko-sm {
    font-family: Teko;
}