<h2 class="text-center text-primary">Reset your password</h2>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <form *ngIf="!tempCodeSent" [formGroup]="requestForm" (ngSubmit)="requestForm.valid && requestPasswordReset()" autocomplete="off">
                <app-text-input [formControl]="getControlFromRequestForm('username')" 
                    [label]="'Username'"></app-text-input>
                
                <div class="row" *ngIf="validationErrors.length > 0">
                    <ul class="text-danger">
                        <li *ngFor="let error of validationErrors">
                            {{error}}
                        </li>
                    </ul>
                </div>
            
                <div class="form-group text-center">
                    <button [disabled]="!requestForm.valid" class="btn btn-success mr-2" type="submit">Request code</button>
                </div>
            </form>
            
            <form *ngIf="tempCodeSent" [formGroup]="resetForm" (ngSubmit)="resetForm.valid && submitCode()" autocomplete="off">
                <app-text-input [formControl]="getControlFromResetForm('tempCode')" 
                    [label]="'Code'"></app-text-input>
                <app-text-input [formControl]="getControlFromResetForm('password')" 
                    [label]="'New Password'" [type]="'password'"></app-text-input>
                <app-text-input [formControl]="getControlFromResetForm('confirmPassword')" 
                    [label]="'Confirm Password'" [type]="'password'"></app-text-input>
                
                <div class="row" *ngIf="validationErrors.length > 0">
                    <ul class="text-danger">
                        <li *ngFor="let error of validationErrors">
                            {{error}}
                        </li>
                    </ul>
                </div>
            
                <div class="form-group text-center">
                    <button [disabled]="!resetForm.valid" class="btn btn-success mr-2" type="submit">Reset password</button>
                </div>
            </form>
        </div>
    </div>
</div>
