<div class="container-fluid" *ngIf="game">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
            <div class="card">
                <img src="{{game.coverUrl}}" alt="{{game.name}}" class="card-img-top img-thumbnail">
                <div class="card-body">
                    <div>
                        <strong>Year:</strong> {{game.year || 'Unknown'}}
                    </div>
                    <div>
                        <strong>Genre:</strong> {{game.genres.length > 0 ? game.genres.join(', ') : 'Unknown'}}
                    </div>
                    <div *ngIf="libraryGame">
                        <strong>My rating:</strong>
                        <span class="text-muted text-right ml-2">
                            <i [class.star-highlighted]="this.libraryGame.userRating !== null && this.libraryGame.userRating >= 1"
                                 class="fa fa-star cursor-pointer" (click)="updateRating(1)"></i>
                            <i [class.star-highlighted]="this.libraryGame.userRating !== null && this.libraryGame.userRating >= 2"
                                class="fa fa-star cursor-pointer" (click)="updateRating(2)"></i>
                            <i [class.star-highlighted]="this.libraryGame.userRating !== null && this.libraryGame.userRating >= 3"
                                class="fa fa-star cursor-pointer" (click)="updateRating(3)"></i>
                            <i [class.star-highlighted]="this.libraryGame.userRating !== null && this.libraryGame.userRating >= 4"
                                class="fa fa-star cursor-pointer" (click)="updateRating(4)"></i>
                            <i [class.star-highlighted]="this.libraryGame.userRating !== null && this.libraryGame.userRating >= 5"
                                class="fa fa-star cursor-pointer" (click)="updateRating(5)"></i>
                        </span>
                        <br />
                        <select class="form-select mt-2"
                            [(ngModel)]="libraryGame.status"
                            #listSelect
                            (change)="listChanged(listSelect.value)">
                            <option value="0">To play</option>
                            <option value="1">Playing</option>
                            <option value="2">Dropped</option>
                            <option value="3">Finished</option>
                        </select>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group d-flex">
                        <button *ngIf="!libraryGame" class="btn btn-success" (click)="addToLibrary()">Add to my library</button>
                        <button *ngIf="libraryGame" class="btn btn-danger" (click)="removeFromLibrary()">Remove from my library</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-6 col-12 mt-3 mt-md-0">
            <h3>{{game.name}}</h3>
            <p>{{game.summary}}</p>
        </div>
    </div>
    <div class="row mt-5" *ngIf="game.screenshots.length > 0">
        <h3>Screenshots</h3>
        <div class="col-12 d-flex justify-content-center">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"
            style="display: inline-block; margin-bottom: 20px;"
            class="ngx-gallery"></ngx-gallery>
        </div>
    </div>
</div>
