<div class="row" *ngIf="game">
    <div class="col-3">
        <div class="card">
            <img src="{{game.coverUrl}}" alt="{{game.name}}" class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Year:</strong> {{game.year}}
                </div>
                <div>
                    <strong>Genre:</strong> {{game.genres.join(', ')}}
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-success">Add to my list</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-9">
        <h3>{{game.name}}</h3>
        <p>{{game.summary}}</p>
    </div>
</div>