<nav class="navbar navbar-expand-lg navbar-dark static-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive='active'>
      <img src="./assets/images/logo.svg" class="logo" />
      GamesTracker
    </a>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarExpanded }">
      <ul class="navbar-nav mr-auto">
        <!-- ng-container does not generate any HTML so it's useful to apply conditions to things -->
        <ng-container *ngIf="accountService.currentUser$ | async">
          <li class="nav-item">
            <a class="nav-link" routerLink="/games" routerLinkActive='active'>
              <i class="fa fa-search mr-1"></i>
              Games
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/library/{{(accountService.currentUser$ | async)?.userName}}" routerLinkActive='active'>
              <i class="fa fa-list mr-1"></i>
              Library
            </a>
          </li>
        </ng-container>
        <li class="nav-item">
          <a href="https://github.com/davidetestoni/GamesTracker" class="nav-link">
            <i class="fa fa-github mr-1"></i>
            Github
          </a>
        </li>
      </ul>
  
      <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
        <span class="dropdown-toggle" dropdownToggle>Welcome, {{user.userName | titlecase}}</span>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <!--
          <a class="dropdown-item">Edit profile</a>
          <div class="dropdown-divider"></div>
          -->
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>
  
      <!-- 
        Data binding in angular:
        () for one way to source
        [] for one way
        [()] for two-way binding
       -->
      <form #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()"
        *ngIf="!(accountService.currentUser$ | async)" autocomplete="off">
        <input 
          name="username"
          [(ngModel)]="model.username"
          class="form-control mr-sm-2"
          type="text" 
          placeholder="Username">
        <input
          name="password"
          [(ngModel)]="model.password"
          class="form-control mr-sm-2 mt-sm-0 mt-2"
          type="password"
          placeholder="Password">
        <div class="ml-lg-0 mr-md-auto mt-sm-2 mt-0 mt-md-0 w-lg-100">
          <button class="btn btn-outline-warning my-2 my-sm-0" type="button" (click)="resetPassword()">Forgot</button>
          <button class="btn btn-outline-success my-2 my-sm-0 ml-2" type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
</nav>