<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive='active'>Games Tracker</a>
    
    <ul class="navbar-nav mr-auto">
      <!-- ng-container does not generate any HTML so it's useful to apply conditions to things -->
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link" routerLink="/games" routerLinkActive='active'>Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/library/{{(accountService.currentUser$ | async)?.userName}}" routerLinkActive='active'>Library</a>
        </li>
      </ng-container>
    </ul>

    <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
      <a class="dropdown-toggle text-primary" dropdownToggle>Welcome {{user.userName | titlecase}}</a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item">Edit profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>

    <!-- 
      Data binding in angular:
      () for one way to source
      [] for one way
      [()] for two-way binding
     -->
    <form #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()"
      *ngIf="!(accountService.currentUser$ | async)" autocomplete="off">
      <input 
        name="username"
        [(ngModel)]="model.username"
        class="form-control mr-sm-2" 
        type="text" 
        placeholder="Username">
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control mr-sm-2"
        type="password"
        placeholder="Password">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="button" (click)="resetPassword()">Forgot</button>
      <button class="btn btn-outline-success my-2 my-sm-0 ml-2" type="submit">Login</button>
    </form>
  </div>
</nav>