<div class="card mb-4">
    <div class="card-img-wrapper">
        <img src="{{game?.coverUrl}}" alt="{{game?.name}}" class="card-img-top">
        <ul class="list-inline game-icons animate text-center">
            <li class="list-inline-item">
                <button class="btn btn-primary" routerLink='/games/{{game?.id}}'>
                    <i class="fa fa-gamepad"></i>
                </button>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-success" *ngIf="!isLibraryGame" (click)="addToLibrary(game)">
                    <i class="fa fa-plus"></i>
                </button>
                <button class="btn btn-danger" *ngIf="isLibraryGame" (click)="removeFromLibrary(game)">
                    <i class="fa fa-minus"></i>
                </button>
            </li>
        </ul>
    </div>
    <div class="card-body p-1">
        <h6 class="card-title text-center my-1">{{game?.name}}</h6>
        <p class="card-text text-muted text-center">{{game?.year}}</p>
    </div>
</div>